/********************************/
/*           GENERAL BODY       */
/********************************/

html, body {

    font-size: 16pt;
    font-family: courier;
    text-align: left;


    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

body {
    background-color: #eee;
}

header {
    width: 100%;
    height: 100px;
    text-align: center;
}

h1 {

    margin: 0;
    padding: 0;
    line-height: 100px;
}

footer {
    width: 100%;
    height:100px;
    text-align: left;


/********************************/
/*           NAVIGATION         */
/********************************/

nav, ul {

    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;

    background-color: purple;
}

ul {
    height: 100%;
    background-color: purple;
    list-style-type: none;
}

li {
    display: block;
    float: left;
    
    height: 100%;
    width: 20%;

    text-align: center;

    line-height: 50px;
}

a {
    display: block;
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    background-color: navy;
}

/********************************/
/*         BODY OF PAGE         */
/********************************/


.center {
    width: 100%;
    height: calc(100% - 150px);
    float:left;

    background-color: grey;
    overflow: auto;
}

/********************************/
/*            IMAGES            */
/********************************/


.movies {
    margin: 0 auto;
    margin-top: 50px;
    
    width: 80%;
    height:290px;
    background-color: darkgray;

    overflow: auto;
}

.animals {
    position:relative;
    display: inline-block;
    float: left;
    width: 100%;
    
}

.link {
    postion:relative;
    display: inline-block;
    float: left;
    background-color: blue;
}

    

/********************************/
/*            TABLES            */
/********************************/

.release-date {
    margin: 0 auto;
    margin-top: 50px;
    
    width: 70%;
    height:auto;
    background-color: darkgray;
}

table {

    width: 100%;
    border: 1px solid #222;
}

tr, th, td {
    border: 1px solid #222;
    border-collapse: collapse;
}

/********************************/
/*            TRAILERS          */
/********************************/

article {
    position: relative;

    margin: 0 auto;
    margin-top: 50px;
    
    width: 60%;
    height:220px;
    background-color: darkgray;
}

.poster2 {
    width: 50%;
    float: left;
}

.trailer {
    width: 50%;
    height: 100%;
    float: left;
}

iframe {
    width: 100%;
    text-align: left;
}